#content1 {
    background: linear-gradient(0deg, rgba(0,56,103,1) 20%, rgba(0,139,255,1) 100%);
}



#aboutme {
    margin-top: -40px;
    
}


.aboutme {
    min-height: 470px;
}

.intro{
    min-height: 470px;
}



